<div class="jumbotron">
    <div class="container">
        <h1 class="display-2 text-white bg-opaque padded-out">Order your repeat prescriptions online.....</h1>
        <p>&nbsp;</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Find out how &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h2 class="text-center bottom-space">Our services</h2>
    <div class="row">
        <div class="col">
            <h4>Dispensing</h4>

            <p>We dispense NHS and private prescriptions. using a computer system which automatically monitors your medicines for interactions. It would help us to help you even further if you could always try to use us for prescriptions, as this enables your prescription history to be as comprehensive as possible. We also deliver dispensed prescriptions to housebound patients and collect repeat prescriptions.</p>

            <h4>Emergency Supplies</h4>
            <p>If you require an emergency prescription (for instance, if you cannot get to see the doctor), we may be able to help although this service is not available on the NHS.</p>

            <p>As well as dispensing medicines, we offer an increasingly varied range of services aimed at helping you take manage your own health.</p>

            <h4>Minor Ailments</h4>
            <p>
                Thanks to the Minor Ailments Scheme, it is no longer necessary to visit your Doctor for minor illnesses. Just visit your local pharmacy where you can get advice and treatment from the pharmacist. They may be able to write you a prescription for medicines to treat these minor conditions effectively. You may even be eligible to receive these medicines free of charge.
                For more information on this service please contact or call into your local McKenzie’s Pharmacy.
            </p>

            <h4>Asthma & COPD Review</h4>
            <p>We can offer you a Medicines Use Review for your respiratory medicines. Our pharmacist will discuss each of your medicines (including your inhalers) with you and ensure you understand what each medicine is for, how to use it to best effect and will also discuss any side effects with you. </p>

            <h4>Repeat Prescriptions</h4>
            <p>
                FREE Online Prescription Ordering & Collection Service available at all McKenzie’s Pharmacies.
                Just use our website to order your repeat prescription and we’ll contact you when it’s ready for collection.
                (Alternatively, if you are experiencing problems, or would just prefer to order your prescription yourself, just phone your local McKenzie’s Pharmacy and let them know you have a prescription to be collected. Our Driver will collect your prescription from your surgery and we will have it ready for you to pick up at your convenience.)
            </p>
        </div>
        <div class="col">
            <h4>Unwanted Medicines</h4>
            <p>Unwanted medicines can be dangerous. Just drop any medicines that you no longer use, or have too much of, into a McKenzie’s Pharmacy and we’ll ensure they are safely disposed of.</p>

            <h4>Stoma/Incontinence Supplies</h4>
            <p>We stock, or can get for you, an extensive range of products including bags, mattress covers and other items. Our pharmacists can advise you confidentially in any of these areas. </p>

            <h4>Oxygen Therapy/Nebulisers</h4>
            <p>We supply oxygen equipment prescribed by your doctor and can deliver cylinders to your home. Your doctor may also recommend a nebuliser for asthma or breathing problems. Although these are not available on the NHS, we can supply them.</p>

            <h4>First Aid</h4>
            <p>We carry a wide range of items for home use but can also supply offices, shops and sports clubs.</p>

            <h4>Chiropody</h4>
            <p>Our pharmacists can advise on minor complaints and recommend products from our foot care range.</p>

            <h4>Counter Medicines</h4>
            <p>We offer for sale a wide range of medicines as well as vitamins, minerals and tonics. A pharmacist is always available to discuss your health and can recommend a product if required.</p>

            <h4>Health Care Leaflets General Health Care Advice</h4>
            <p>Health care education and information leaflets are available in all our branches. Our pharmacists are always willing to offer advice on all medicines and minor ailments. This can be done in private if you prefer.</p>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center bottom-space">Our shops</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Shop</th>
                    <th>Address</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Rockville Pharmacy</th>
                    <td>479 Falls Road, Belfast, BT12 6DE</td>
                    <td>Tel: 028 9032 2152</td>
                </tr>
                <tr>
                    <th scope="row">Glenavy Pharmacy</th>
                    <td>29 Main Street, Glenavy, Crumlin, BT29 4LN</td>
                    <td>Tel: 028 9442 2227</td>
                </tr>
                <tr>
                    <th scope="row">Ardoyne Pharmacy</th>
                    <td>1 Ardoyne Road, Belfast, BT14 7HX</td>
                    <td>Tel: 028 9071 4481</td>
                </tr>
                <tr>
                    <th scope="row">McKenzie’s Chemist</th>
                    <td>13 Ardoyne Road, Belfast, BT14 7HX</td>
                    <td>Tel: 028 9039 1460</td>
                </tr>
                <tr>
                    <th scope="row">North Queen Street Pharmacy</th>
                    <td>142 North Queen Street, Belfast, BT15 1HQ</td>
                    <td>Tel: 028 9074 6109</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2 class="text-center bottom-space">Find us</h2>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-map-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng"></agm-map-marker>
            <agm-map-marker [latitude]="markers[1].lat" [longitude]="markers[1].lng"></agm-map-marker>
            <agm-map-marker [latitude]="markers[2].lat" [longitude]="markers[2].lng"></agm-map-marker>
            <agm-map-marker [latitude]="markers[3].lat" [longitude]="markers[3].lng"></agm-map-marker>
            <agm-map-marker [latitude]="markers[4].lat" [longitude]="markers[4].lng"></agm-map-marker>
        </agm-map>

    </div>
